div
{
    color: aqua;
    font-size: x-large;
}

.testCLASS
{
    color: red;
    font-size: x-large;
}

#testID
{
    color: green;
    font-size: x-large;
}

.subsection.header
{
    margin-top: 2cm;
    color: lightsalmon;
    font-size: x-large;
}

.subsection#preview
{
    color: violet;
    font-size: x-large;
}
